#topDiv {
height: 10vh; 
border: 4px solid black; 
background-color: rgb(255, 255, 255);
font-family: "Lucida Console", "Courier New", monospace;
display: flex;
justify-content: center;
align-items: center;
}
h1{
  font-family: 'Press Start 2P', cursive;
}

h2{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.games{
  text-transform: uppercase;
  margin-bottom: 10px;

}

.main-details {
  column-count: 2; 
  column-gap: 20px;
}

#bottomDiv {
display: flex;
background-color: white; 
border: 4px solid red; 
border-radius: 20px; 
padding: 20px;
margin: 10px;
}  

.left {
flex: 1;
width: 33.33%; 
display: flex;
flex-direction: column;
align-items: center;
}

#down {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh; /* Adjust the height based on your requirements */
  font-size: 21px; /* Adjust the font size as needed */
}

#down a {
  font-size: 18px; /* Adjust the font size for links as needed */
  font-family: sans-serif; /* Replace 'Your Chosen Font' with the desired font family */
}

.right{
  flex: 2;   
}